:root {
  --primary-color: hsl(257, 40%, 49%);
  --secondary-color: hsl(300, 69%, 71%);
  --heading-font-family: "Poppins", sans-serif;
  --body-font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--primary-color);
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-container {
  padding: 0 20px;
  width: 100%;
  height: 100vh;
}

.main-header {
  padding: 24px 0;
  margin-bottom: 20px;
}

.main-header__logo {
  aspect-ratio: 264 / 65;
  max-width: 264px;
  width: 60%;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mockups-container {
  margin-bottom: 40px;
}

.mockups-container__illustration-mockups {
  aspect-ratio: 709 / 506;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: #fff;
}

.text-container__title {
  font-family: var(--heading-font-family);
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
}

.text-container__description {
  font-family: var(--body-font-family);
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
}

.text-container__register-button {
  width: 200px;
  align-self: center;
  height: 40px;
  border-radius: 36px;
  border: none;
  font-family: var(--body-font-family);
  font-size: 1.3rem;
  color: var(--primary-color);
}

.main-footer {
  color: #fff;
  margin-top: 50px;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.icon-border {
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: var(--body-font-family);
  font-size: 1.1rem;
  margin-bottom: 8px;
}
.attribution__link {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}

@media (width >= 450px) {
  .mockups-container {
    width: 70%;
  }
}

@media (width >= 760px) {
  body {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-section {
    flex-direction: row;
    gap: 40px;
  }

  .mockups-container {
    flex: 1;
    margin-bottom: 0;
  }

  .text-container {
    flex: 1;
    text-align: left;
  }

  .text-container__register-button {
    align-self: flex-start;
  }
}

@media (width >= 1200px) {
  .main-container {
    padding: 0 60px;
    max-width: 1920px;
  }

  .main-section {
    gap: initial;
  }

  .text-container__title {
    font-size: 4rem;
  }

  .mockups-container {
    flex: 1.3;
  }

  .mockups-container__illustration-mockups {
    width: 80%;
  }

  .text-container__description,
  .text-container__register-button {
    font-size: 1.9rem;
  }

  .icon-container {
    justify-content: flex-end;
  }

  .icon-border {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-border--facebook {
    padding: 20px 16px;
  }

  .icon-border--x-twitter {
    padding: 20px 12px;
  }

  .icon-border--instagram {
    padding: 20px 14px;
  }

  .fa-xl {
    font-size: 2rem;
  }

  .attribution {
    font-size: 1.4rem;
  }
}
